@model ChoixResto2.Models.Resto

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CreerRestaurant</title>

    <style type="text/css">
        .field-validation-error {
            color: #f00;
        }
        .validation-summary-errors {
            color: #f00;
            font-weight: bold;
        }
        .input[type="checkbox"].input-validation-error {
            outline: 2px solid #f00;
        }
    </style>

    <script type="text/javascript" src="~/Scripts/jquery-1.10.2.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.validate-vsdoc.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.validate.unobtrusive.js"></script>
</head>
<body>
    @using (Html.BeginForm()) {  
        <fieldset>
            <legend>Ajouter un restaurant</legend>
    
            <div>
                @Html.LabelFor(model => model.Nom)
                @Html.TextBoxFor(model => model.Nom)
                @Html.ValidationMessageFor(model => model.Nom)
            </div>
            <div>
                @Html.LabelFor(model => model.Telephone)
                @Html.TextBoxFor(model => model.Telephone)
                @Html.ValidationMessageFor(model => model.Telephone)
            </div>
            <br/>
            <input type="submit" value="Create" />
        </fieldset>
    }
</body>
</html>
